<section class="footer vcard" id="footer">
   <div class="container">
       <div class="row">
           <div class="links">
               <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">

                   <ul class="project">
                       <li class="link-title">The Project</li>
                       <li><a href="#" title="About">About</a></li>
                       <li><a href="#" title="Blog" target="_blank">Blog</a></li>
                       <li><a href="#" title="Press Kit" target="_blank">Press Kit</a></li>
                       <li><a href="#" title="Jobs">Jobs</a></li>
                       <li><a href="#" title="Iconathon">Iconathon</a></li>
                       <li><a href="#" title="Draft.LA" target="_blank">Draft.LA</a></li>
                   </ul>

               </div>
               <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                   <ul class="learn-more">
                       <li class="link-title">Learn More</li>
                       <li><a href="#" title="Pricing">Pricing</a></li>
                       <li><a href="#" title="Mac App">Mac App</a></li>
                       <li><a href="#" title="Teams">Teams</a></li>
                       <li><a href="#" title="Creators">Creators</a></li>
                       <li><a href="#" title="API">API</a></li>
                   </ul>


               </div>

               <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                   <ul class="support">
                       <li class="link-title">Support</li>
                       <li><a href="#" title="Contact">Contact</a></li>
                       <li><a href="#" title="FAQ">FAQ</a></li>
                       <li><a href="#" title="Creator's Handbook">Creators Handbook</a></li>
                       <li><a href="#" title="Terms of Use">Terms of Use</a></li>
                       <li><a href="#" title="Privacy Policy">Privacy Policy</a></li>
                       <li><a href="#" title="Creator Terms">Creator Terms</a></li>
                   </ul>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                   <ul class="support">
                       <li class="link-title">Support</li>
                       <li><a href="#" title="Contact">Contact</a></li>
                       <li><a href="#" title="FAQ">FAQ</a></li>
                       <li><a href="#" title="Creator's Handbook">Creators Handbook</a></li>
                       <li><a href="#" title="Terms of Use">Terms of Use</a></li>
                       <li><a href="#" title="Privacy Policy">Privacy Policy</a></li>
                       <li><a href="#" title="Creator Terms">Creator Terms</a></li>
                   </ul>
               </div>

           </div>
       </div>
   </div>
</section>
