<div class="container" ng-init="initCarousel();" ng-hide="categoryId">
    <div class="row">        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <slick ng-if="carousel.slides.length" infinite=true arrows="false" speed=200 slides-to-show=1 slides-to-scroll=1 adaptive-height=true autoplay=true mobile-first=true class="slider" dots="true" lazyLoad="ondemand" cssEase="linear" respond-to="window">
                <div ng-repeat="slide in carousel.slides">
                    <a href="{{ slide.href }}">
                        <img ng-src="{{ slide.image }}" style="max-width:100%">
                    </a>
                </div>
            </slick>
        </div>
    </div>
</div>
